*
{  
    outline: none;
  
}

li{
    list-style: none;
}

.search-container, #ap{
    display:grid;
    place-items:center;
    padding-top:2%;
}

#search{
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-color: rgba(0, 255, 255, 0.26);
    font-size: 20px;
    
}
#ap{
    padding-top: 50px;
    font-size: 25px;

}
.result-title:hover{
color:rgb(22, 145, 202);
cursor: pointer;
}

.news-bloc{
    border: 1px solid black;
    margin-bottom:20px;
}


.title{
    font-size:32px;
    
}
.quali{
    color:rgba(128, 128, 128, 0.26);
    font-size:25px;
}

/*************NAV******************/
nav{
    width: 100%;
    height: 90px;
    border-bottom: 1px solid rgba(8, 177, 163, 0.116);
     /* background: rgba(151, 151, 149, 0.219); */
}

.themes-container{
    width:60%;
}

.theme-bloc{
    transform: translateY(23px);
    border-radius:12px;
    transition: .2s;
    font-size: 23px;
    cursor: pointer;
    background:white;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    opacity:.7;

}

.theme-bloc:hover{
    border-left: 1px solid rgba(15, 131, 151, 0.205);
    border-right: 1px solid rgba(15, 131, 151, 0.281);
    box-shadow: 1px 1px 4px rgba(8, 177, 163, 0.219); 

    opacity: 1;

}

.wall-of-news{
    margin-top:50px;
}

.mini{
    border: 1px solid rgb(163, 163, 163);
    border-radius: 8px;
    padding:0!important;
    margin: 2px;
}

.img-news{
    border-radius:8px;
    display: block;
}

.titre{
    display: block;

}