*
{  
    outline: none;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

#search{
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-color: rgba(0, 255, 255, 0.26);
    font-size: 18px;
    margin-top:20px;

    
}


.news-bloc{
    border: 1px solid black;
    margin-bottom:20px;
}

.title, .theme-name{
    font-size:32px;
    margin-top:10px;

    
}



.nav-row{
    width: 100%;
}

/*************NAV******************/
nav{
    height: 70px;
    border-bottom: 1px solid rgba(8, 177, 163, 0.116);
     background: rgb(255, 255, 255);
     transition: .2s;
     z-index: 4;
}


.theme-bloc{
    transform: translateY(30px);
    border-radius:12px;
    font-size: 25px;
    cursor: pointer;
    background:white;
    opacity:.95;
    transition: .2s;
    z-index:5;
}

.nav-icone{
    position: absolute;
    text-align: center;
    width:130px;
    transition: .1s ease-in-out;
    border-radius:12px;
}

.nav-texte{
    opacity:0;
    width:130px;
    text-align: center;
    transition: .1s ease-in-out;
    border-radius:12px;
}

.vertical-line{
    position : absolute;
    left: 115px;
    top: 350px;
    transform: rotateZ(180deg);
    width: 1px;
    height:100%;
    background: rgba(8, 177, 163, 0.216);
}

/***************MAIN PAGE*******************/
.wall-of-news{
    margin-top:50px;
    margin-left: 18%;
    border-radius: 5px;
    width: 70%;
    background:white;
}


.mini{
    border-radius:8px;
    transition:.3s;
    perspective:800px;
    cursor: pointer;


}
.news-card{
    transition: .3s;
}

.news-card:hover{
    transform: scale(1.08);
    z-index:5;
}

.img-news{
    border-radius:5px;  
}

.titre{
    font-size: 16px;
}

.date{
    position: absolute;
    left:0;
    bottom:0;
    transform: translateY(17px);
    background:rgb(255, 255, 255);
    border-radius: 0 5px 0 0;
    font-size: 15px;
    color:rgb(218, 24, 24);
}

.overlay{
    background:rgb(255, 255, 255);
    transition: .6s;
    border-radius:5px;   
    text-decoration: none;
 
}


.titre{
    color:black;
}

.news-card a{
    text-decoration: none;

}

/*/////////////////IFrame News/////////////*/



.iframe-container{
    width: 0%;
    height: 0%;
    top:70px;
    right:0;
    position: absolute;
    border-radius: 15px;
    opacity: 0;
    z-index:6;
    background: rgba(255, 255, 255, 0.95);

}

.close-iframe{
    width: 3%;
    border: 1px solid rgba(153, 153, 153, 0.493);
    background: rgb(0, 0, 0);
    text-align: center;
    border-radius: 0 15px 15px 0;
    opacity:.2;
    transition: opacity .3s;
    cursor: pointer;

}

.close-icon{
    transition: .3s;
    opacity:.8;
    margin-top:20px!important;
}

.news-frame{
    width: 97%;
    border-radius:15px 0 0 0;

}

.opac{
    opacity: 1;
    width: 90%;
    height:93vh;
}

/**********PLayer du lol *********/

.soma{
    position : absolute;
    opacity: 0;
}